:root {
    --plyr-color-main: #7E60B6
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.plyr--video {
    height: 100%;
}

.plyr--audio {
    display: none;
}